.section {
    padding: 2rem !important;
}

.main-content {
    text-align: center;
}

canvas {
    border: 1px solid gray;
    border-radius: 15px;
    background-color: beige;
}

#controls {
    margin-bottom: 1em;
}

#main {
    padding: 1em;
}
